.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    
    /* height: 55vh; */
}

.box-element {
    height: 100%;
    width: 55%;
    padding-bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0A1128;
}

.box-element button{
    width: 30%;
    margin: 20px 0;
    
}

.box-element a {
    text-decoration: none;
    color: #FEFCFB;
}

.cover-img {
    width: 100%;
    height: 100%;
}

.heading-1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}